.sidebar {
    width: 420px;
    /* background-color: #B8E4F0; */
}

.light-t {
    color: rgba(0, 0, 0, 0.54);
}

.dark-t {
    color: rgba(255, 255, 255, 0.54);
}

@media (max-width: 1250px) {
    .sidebar {
        width: 200px;
    }
}