body {
    overflow: auto;
}

#root {
    height: 100vh;
    z-index: 99;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #656565;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c4c4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #525252;
}

.msg {
    white-space: pre-wrap;
    padding: 2px 0 2px 5px;
}


.hover-msg-light:hover {
    transition: all 0.3s ease-in-out;
    background-color: #F3F1F5;
}

.hover-msg-dark:hover {
    background-color: #262626;
}

.selected-group-light {
    background-color: rgb(184, 228, 240) !important;
}

.group-subtitle-color {
    color: #787878
}

/************ OVERRIDE ******************************************************************************/
.lnk {
    text-decoration: none;
}

.clrcstm {
    color: inherit;
    font-weight: inherit;
}